.listDeclaration {
  margin: auto;
  font-size: 1.3em;
  table {
    border: #57ab12 1px solid;
    padding: 2rem;
    margin: 5rem auto;
    border-radius: 10px;
    background-color: darkslategrey;
  }
  tbody {
    // outline: red 1px solid;
    tr {
      td {
        padding: 2px 5px;
      }
    }
    tr:nth-child(odd) {
      background: grey;
    }
    tr:nth-child(even) {
      background: #1d65e8;
    }
  }

  button {
    padding: .3rem .5rem;
    border-radius: 5px;
  }

  a {
    
  }
}